<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="spaceappschallenge.moonville"
    android:versionCode="1"
    android:versionName="1.0" android:installLocation="preferExternal">

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
     android:hardwareAccelerated="true">
        <activity
            android:name="spaceappschallenge.moonville.activities.MainMenuActivity"
            android:label="@string/app_name" android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
        <activity
            android:name="spaceappschallenge.moonville.NewGameActivity"
            android:label="@string/title_activity_new_game" >
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.AvailableResourcesActivity"
            android:label="@string/title_activity_available_resources" >
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.AllResourcesActivity"
            android:label="@string/title_activity_all_resources" >
        </activity>
        -->

        <activity
            android:name="spaceappschallenge.moonville.activities.DummyActivity"
            android:label="@string/title_activity_dummy" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.NewGameActivity"
            android:label="@string/title_activity_new_company" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.BaseOverviewActivity"
            android:label="@string/title_activity_base_overview" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.ResourcesActivity"
            android:label="@string/title_activity_resources" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.MegaProjectActivity"
            android:label="@string/title_activity_mega_project" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.BuildingsActivity"
            android:label="@string/title_activity_buildings" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.CompanyInfoActivity"
            android:label="@string/title_activity_company_info" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.BuildingInfoActivity"
            android:label="@string/title_activity_building_info" android:screenOrientation="landscape">
        </activity>
        <activity
            android:name="spaceappschallenge.moonville.activities.CreditsActivity"
            android:label="@string/title_activity_credits" android:screenOrientation="landscape">
        </activity>
    </application>

</manifest>